:root {
    --primary: #00b207;
    --soft-primary: #84d187;
    --hard-primary: #2c742f;

    --warning: #ff8a00;
    --danger: #ea4b48;
    --white: #ffffff;

    --gray-9: #1a1a1a;
    --gray-8: #333333;
    --gray-7: #4d4d4d;
    --gray-6: #666666;
    --gray-5: #808080;
    --gray-4: #999999;
    --gray-3: #b3b3b3;
    --gray-2: #cccccc;
    --gray-1: #e6e6e6;
    --gray-05: #f2f2f2;

    --green-gray-9: #002603;
    --green-gray-8: #173b1a;
    --green-gray-7: #2b572e;
    --green-gray-6: #406b42;
    --green-gray-5: #618062;
    --green-gray-4: #7a997c;
    --green-gray-3: #96b297;
    --green-gray-2: #b4ccb4;
    --green-gray-1: #dae5da;
    --green-gray-05: #edf2ee;
}
